def Hello():
    name=str(input("Enter your name : "))
    print("Hello " + str(name))
    return

Hello()

score = 0
# INTRO   
print("Welcome to my quiz about anime \nAnime is a style of Japanese film and television animation especially aimed at adults aswell as children \n")
# QUESTION 1
answer1 = input("What is the first anime series? \na. Speed Racer \nb. Doraemon \nc. Dragon Ball Z \nd. Astro Boy \n")
if answer1 == "d" or answer1 == "Astro Boy":
    score += 1
    print("Correct!")
    print("Score: ", score)
    print("\n")
else:
    print("incorrect, the answer is Astro Boy")
    print("Score: ", score)
    print("\n")
    
# QUESTION 2
answer2 = input("Where is the meme omae wa mou shindeiru from? \na. Cowboy Bebop \nb. Samurai Champloo \nc. Fist Of The North Star \nd. Code Geass \n")
if answer2 == "c" or answer2 == "Fist Of The North Star":
    score += 1
    print("Correct!")
    print("Score: ", score)
    print("\n")
else:
    print("incorrect, the answer is Fist Of The North Star")
    print("Score: ", score)
    print("\n")
# QUESTION 3
answer3 = input("What is the longest anime? \na. Detective Conan \nb. One Piece \nc. Yu-Gi-Oh! \nd. Sazae-San \n")
if answer3 == "d" or answer3 == "Sazae-San":
    score += 1
    print("Correct!")
    print("Score: ", score)
    print("\n")
else:
    print("incorrect, the answer is Sazae-San")
    print("Score: ", score)
    print("\n")    
# QUESTION 4
answer4 = input("Who is the richest anime artist? \na.Keisuke Itagaki \nb. Hajime Isayama \nc. Gosho Aoyama \nd. Eiichiro Oda \n")
if answer4 == "d" or answer4 == "Eiichiro Oda":
    score += 1
    print("Correct!")
    print("Score: ", score)
    print("\n")
else:
    print("incorrect, the answer is Eiichiro Oda")
    print("Score: ", score)
    print("\n")
# QUESTION 5
answer5 = input("Is Saitama the strongest character in One Punch Man? \na. True \nb. False \n")
if answer5 == "a" or answer5 == "True":
    score += 1
    print("Correct!")
    print("Score: ", score)
    print("\n")
else:
    print("incorrect, the answer is True")
    print("Score: ", score)
    print("\n")    
